.grid {
  max-width: 1200px;
  margin: 35px auto 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr); 
  gap: 10px;
  grid-auto-flow: dense;                 
}


.w6  { grid-column: span 6; }  
.w12 { grid-column: 1 / -1; }  


@media (max-width: 1000px) { .grid { grid-template-columns: repeat(6, 1fr); } }
@media (max-width: 640px)  { .grid { grid-template-columns: repeat(1, 1fr); } }

.item img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;      
  border-radius: 2px;
}


body {
  display: flex;
  justify-content: center;
}




