.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--size-space-400);
}

.heroWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

.logoWrapper {
  position: absolute;
  top: 1.5rem;
  left: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.heroContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.photoWallWrapper {
  margin-top: var(--size-space-1200);
}
