.popup {
  position: fixed;
  z-index: 1;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-height: 90vh;
  overflow-y: auto;
  background: white;
  border-radius: var(--size-radius-200);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.headerCell {
  background-color: #b52026;
  color: white;
  padding: 0.75rem 0.5rem;
  text-align: left;
}

.cell {
  padding: 0.5rem;
  border-bottom: 1px solid var(--color-border-default-default);
}
