@import "../../styles/variables.css";
@import "../../styles/utilities.module.css";

.footer {
  width: 100%;
  background: var(--hilfling-color-black);
  color: white;
  margin-top: 50px;
}

.footerContent {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  width: 100%;
  max-width: var(--hilfling-max-width);
  margin: 0 auto;
}

.section {
  flex: 1;
  text-align: center;
  padding: 20px var(--hilfling-default-padding);
}

.follow {
  display: flex;
  justify-content: center;
}

@media (min-width: 900px) {
  .footerContent {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .section {
    padding: 20px 60px;
  }
}

.media {
  padding-left: 6px;
  color: white;
}

h2 {
  font-weight: bold;
}

p {
  font-size: 1.2rem;
}

a {
  font-size: 1.2rem;
}
