.card {
  border-radius: var(--size-radius-200);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
  background: var(--color-background-default-default);
  padding: 1rem 1.5rem;
}

.title {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.description {
  white-space: pre-line;
}

.link {
  color: var(--hilfling-link-color);
}
