.downloadButton {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--size-space-200);
  border-radius: var(--size-radius-full);
  color: white;
}

.downloadButton:hover {
  background: var(--color-background-transparent-hover);
}
