.tableContainer {
  width: 100%;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.th {
  text-align: left;
  padding: var(--size-space-200) var(--size-space-300);
  border-bottom: var(--size-stroke-border) solid
    var(--color-border-default-default);
  font-weight: var(--typography-body-font-weight-strong);
  font-size: var(--typography-body-size-small);
  color: var(--color-text-default-secondary);
}

.td {
  padding: var(--size-space-200) var(--size-space-300);
  border-bottom: var(--size-stroke-border) solid
    var(--color-border-default-default);
  font-size: var(--typography-body-size-small);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tr:hover {
  background-color: var(--color-background-default-default-hover);
}

.thumbnailButton {
  padding: 0;
  background: none;
  border: none;
  display: block;
}
