.internSearch {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 900px) {
  .internSearch {
    flex-direction: row;
  }

  .filterSection {
    flex-shrink: 0;
  }
}
.formTextField {
  padding: 0.4rem;
}

.gridDivContainer {
  flex: 1;
  min-width: 0;
}

.filterSection {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.gridContainer {
  padding: 0.5rem;
  background-color: whitesmoke;
  border-radius: 1rem;
  overflow-x: auto;
}

.toggleHeader {
  width: 100%;
  border-radius: 1rem;
  display: flex;
  flex: 1;
}

.pagination {
  width: 100%;
  padding: 1rem;
}

.pagination2 {
  width: 100%;
  padding: 1rem;
}

.toggleComponent {
  width: 100%;
  padding: 1rem;
}

@media (min-width: 900px) {
  .toggleComponent {
    width: 15%;
  }
}

.thumbnailImage {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  cursor: pointer;
  border-radius: 0.2em;
}

.editButton {
  border-radius: 10em;
}

.scanButtons {
  display: flex;
  flex-direction: column;
}

.filterToggle {
  margin-bottom: 0.5rem;
}
