.header {
  width: 80%;
  margin: auto;
}

.suggestions {
  background-color: #f0f0f0;
  border: 1px solid #a0a0a0;
  border-radius: 5px;
  position: absolute;
  z-index: 9999;
}

.suggestions:hover {
  background-color: #ffffff;
  cursor: pointer;
}

.suggestionBox {
  background-color: white;
  border-bottom: #a0a0a0 1px solid;
  position: relative;
}
.selectedSuggestion {
  background-color: #f5f5f5 !important; /* Highlight selected suggestion */
}
