.editMotive {
  background-color: white;
  padding: 1rem;
}
.editMotive h2 {
  text-align: center;
  border-bottom: 0.1rem solid #000000;
  text-transform: uppercase;
  padding-top: 0.8rem;
  padding-bottom: 1rem;
  color: #1b1b1b;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 1rem 0;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.preview {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cardActions {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
