@import "./variables.css";

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body,
html {
  margin: 0 !important;
}

body {
  background-color: var(--color-background-default-default);
  color: var(--color-text-default-default);
  font-family: var(--typography-body-font-family);
  font-size: var(--typography-body-size-medium);
  font-weight: var(--typography-body-font-weight-regular);
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  overflow-wrap: break-word;
  word-break: break-all;
}
