/* Denne filen er eksportert rett fra figma. */
/* Om vi oppdaterer designsystemet burde det være så lett som å bare reeksportere variablene*/

:root {
  /* Color Primitives - Value */
  --color-brand-100: #fbf4f5ff;
  --color-brand-200: #efd3d5ff;
  --color-brand-300: #dfa7abff;
  --color-brand-400: #ce7b82ff;
  --color-brand-500: #be4f58ff;
  --color-brand-600: #ae232eff;
  --color-brand-700: #8b1c25ff;
  --color-brand-800: #68151cff;
  --color-brand-900: #460e12ff;
  --color-brand-1000: #230709ff;
  --color-black-100: #0c0c0d0d;
  --color-black-200: #0c0c0d1a;
  --color-black-300: #0c0c0d33;
  --color-black-400: #0c0c0d66;
  --color-black-500: #0c0c0db2;
  --color-black-600: #0c0c0dcc;
  --color-black-700: #0c0c0dd9;
  --color-black-800: #0c0c0de5;
  --color-black-900: #0c0c0df2;
  --color-black-1000: #0c0c0dff;
  --color-white-100: #ffffff0d;
  --color-white-200: #ffffff1a;
  --color-white-300: #ffffff33;
  --color-white-400: #ffffff66;
  --color-white-500: #ffffffb2;
  --color-white-600: #ffffffcc;
  --color-white-700: #ffffffd9;
  --color-white-800: #ffffffe5;
  --color-white-900: #fffffff2;
  --color-white-1000: #ffffffff;
  --color-green-100: #ebffeeff;
  --color-green-200: #cff7d3ff;
  --color-green-300: #aff4c6ff;
  --color-green-400: #85e0a3ff;
  --color-green-500: #14ae5cff;
  --color-green-600: #009951ff;
  --color-green-700: #008043ff;
  --color-green-800: #02542dff;
  --color-green-900: #024023ff;
  --color-green-1000: #062d1bff;
  --color-gray-100: #f5f5f5ff;
  --color-gray-200: #e6e6e6ff;
  --color-gray-300: #d9d9d9ff;
  --color-gray-400: #b3b3b3ff;
  --color-gray-500: #757575ff;
  --color-gray-600: #444444ff;
  --color-gray-700: #383838ff;
  --color-gray-800: #2c2c2cff;
  --color-gray-900: #1e1e1eff;
  --color-gray-1000: #111111ff;
  --color-slate-100: #f3f3f3ff;
  --color-slate-200: #e3e3e3ff;
  --color-slate-300: #cdcdcdff;
  --color-slate-400: #b2b2b2ff;
  --color-slate-500: #949494ff;
  --color-slate-600: #767676ff;
  --color-slate-700: #5a5a5aff;
  --color-slate-800: #434343ff;
  --color-slate-900: #303030ff;
  --color-slate-1000: #242424ff;
  --color-yellow-100: #fffbebff;
  --color-yellow-200: #fff1c2ff;
  --color-yellow-300: #ffe8a3ff;
  --color-yellow-400: #e8b931ff;
  --color-yellow-500: #e5a000ff;
  --color-yellow-600: #bf6a02ff;
  --color-yellow-700: #975102ff;
  --color-yellow-800: #682d03ff;
  --color-yellow-900: #522504ff;
  --color-yellow-1000: #401b01ff;
  --color-red-100: #fee9e7ff;
  --color-red-200: #fdd3d0ff;
  --color-red-300: #fcb3adff;
  --color-red-400: #f4776aff;
  --color-red-500: #ec221fff;
  --color-red-600: #c00f0cff;
  --color-red-700: #900b09ff;
  --color-red-800: #690807ff;
  --color-red-900: #4d0b0aff;
  --color-red-1000: #300603ff;
  --color-pink-100: #fcf1fdff;
  --color-pink-200: #fae1faff;
  --color-pink-300: #f5c0efff;
  --color-pink-400: #f19edcff;
  --color-pink-500: #ea3fb8ff;
  --color-pink-600: #d732a8ff;
  --color-pink-700: #ba2a92ff;
  --color-pink-800: #8a226fff;
  --color-pink-900: #57184aff;
  --color-pink-1000: #3f1536ff;

  /* Spacing */
  --size-space-0: 0px;
  --size-space-050: 2px;
  --size-space-100: 4px;
  --size-space-150: 6px;
  --size-space-200: 8px;
  --size-space-300: 12px;
  --size-space-400: 16px;
  --size-space-600: 24px;
  --size-space-800: 32px;
  --size-space-1200: 48px;
  --size-space-1600: 64px;
  --size-space-2400: 96px;
  --size-space-4000: 160px;
  --size-space-negative-100: -4px;
  --size-space-negative-200: -8px;
  --size-space-negative-300: -12px;
  --size-space-negative-400: -16px;
  --size-space-negative-600: -24px;
  --size-radius-100: 4px;
  --size-radius-200: 8px;
  --size-radius-400: 16px;
  --size-blur-100: 4px;
  --size-radius-full: 9999px;
  --size-depth-0: 0px;
  --size-depth-025: 1px;
  --size-depth-100: 4px;
  --size-depth-200: 8px;
  --size-depth-400: 16px;
  --size-depth-800: 32px;
  --size-depth-1200: 48px;
  --size-depth-negative-025: -1px;
  --size-depth-negative-100: -4px;
  --size-depth-negative-200: -8px;
  --size-depth-negative-400: -16px;
  --size-depth-negative-800: -32px;
  --size-depth-negative-1200: -48px;
  --size-stroke-border: 1px;
  --size-stroke-focus-ring: 2px;
  --size-icon-small: 24px;
  --size-icon-medium: 32px;
  --size-icon-large: 40px;

  /* Typography primitives */
  --typography-family-sans: Inter;
  --typography-family-serif: Noto Serif;
  --typography-family-mono: Roboto Mono;
  --typography-scale-01: 12px;
  --typography-scale-02: 14px;
  --typography-scale-03: 16px;
  --typography-scale-04: 20px;
  --typography-scale-05: 24px;
  --typography-scale-06: 32px;
  --typography-scale-07: 40px;
  --typography-scale-08: 48px;
  --typography-scale-09: 64px;
  --typography-scale-10: 72px;
  --typography-weight-thin: 100;
  --typography-weight-thin-italic: 100;
  --typography-weight-extra-light: 200;
  --typography-weight-extralight-italic: 200;
  --typography-weight-light: 300;
  --typography-weight-light-italic: 300;
  --typography-weight-regular: 400;
  --typography-weight-regular-italic: 400;
  --typography-weight-medium: 500;
  --typography-weight-medium-italic: 500;
  --typography-weight-semibold: 600;
  --typography-weight-semibold-italic: 600;
  --typography-weight-bold: 700;
  --typography-weight-bold-italic: 700;
  --typography-weight-extra-bold: 800;
  --typography-weight-extra-bold-italic: 800;
  --typography-weight-black: 900;
  --typography-weight-black-italic: 900;
  --typography-title-hero-font-family: var(--typography-family-sans);
  --typography-title-hero-size: var(--typography-scale-10);
  --typography-title-hero-font-weight: var(--typography-weight-bold);
  --typography-title-page-font-family: var(--typography-family-sans);
  --typography-title-page-size-small: var(--typography-scale-07);
  --typography-title-page-size-base: var(--typography-scale-08);
  --typography-title-page-size-large: var(--typography-scale-09);
  --typography-title-page-font-weight: var(--typography-weight-bold);
  --typography-subtitle-font-family: var(--typography-family-sans);
  --typography-subtitle-size-small: var(--typography-scale-05);
  --typography-subtitle-size-base: var(--typography-scale-06);
  --typography-subtitle-size-large: var(--typography-scale-07);
  --typography-subtitle-font-weight: var(--typography-weight-regular);
  --typography-heading-font-family: var(--typography-family-sans);
  --typography-heading-size-small: var(--typography-scale-04);
  --typography-heading-size-base: var(--typography-scale-05);
  --typography-heading-size-large: var(--typography-scale-06);
  --typography-heading-font-weight: var(--typography-weight-semibold);
  --typography-subheading-font-family: var(--typography-family-sans);
  --typography-subheading-size-small: var(--typography-scale-03);
  --typography-subheading-size-medium: var(--typography-scale-04);
  --typography-subheading-size-large: var(--typography-scale-05);
  --typography-subheading-font-weight: var(--typography-weight-regular);
  --typography-body-font-family: var(--typography-family-sans);
  --typography-body-size-small: var(--typography-scale-02);
  --typography-body-size-medium: var(--typography-scale-03);
  --typography-body-size-large: var(--typography-scale-04);
  --typography-body-font-weight-regular: var(--typography-weight-regular);
  --typography-body-font-weight-strong: var(--typography-weight-semibold);
  --typography-body-font-style-italic: italic;
  --typography-code-font-family: var(--typography-family-mono);
  --typography-code-size-small: var(--typography-scale-02);
  --typography-code-size-base: var(--typography-scale-03);
  --typography-code-size-large: var(--typography-scale-04);
  --typography-code-font-weight: var(--typography-weight-regular);
}

:root,
[data-theme="light"] {
  color-scheme: light;

  /* Background */
  --color-background-default-default: var(--color-white-1000);
  --color-background-default-default-hover: var(--color-gray-100);
  --color-background-default-secondary: var(--color-gray-100);
  --color-background-default-secondary-hover: var(--color-gray-200);
  --color-background-default-tertiary: var(--color-gray-300);
  --color-background-default-tertiary-hover: var(--color-gray-400);
  --color-background-neutral-default: var(--color-slate-700);
  --color-background-neutral-hover: var(--color-slate-800);
  --color-background-neutral-secondary: var(--color-slate-300);
  --color-background-neutral-secondary-hover: var(--color-slate-400);
  --color-background-neutral-tertiary: var(--color-slate-200);
  --color-background-neutral-tertiary-hover: var(--color-slate-300);
  --color-background-brand-default: var(--color-brand-600);
  --color-background-brand-hover: var(--color-brand-700);
  --color-background-brand-secondary: var(--color-brand-400);
  --color-background-brand-secondary-hover: var(--color-brand-500);
  --color-background-brand-tertiary: var(--color-brand-200);
  --color-background-brand-tertiary-hover: var(--color-brand-300);
  --color-background-positive-default: var(--color-green-500);
  --color-background-positive-hover: var(--color-green-600);
  --color-background-positive-secondary: var(--color-green-200);
  --color-background-positive-secondary-hover: var(--color-green-300);
  --color-background-positive-tertiary: var(--color-green-100);
  --color-background-positive-tertiary-hover: var(--color-green-200);
  --color-background-warning-default: var(--color-yellow-400);
  --color-background-warning-hover: var(--color-yellow-500);
  --color-background-warning-secondary: var(--color-yellow-200);
  --color-background-warning-secondary-hover: var(--color-yellow-300);
  --color-background-warning-tertiary: var(--color-yellow-100);
  --color-background-warning-tertiary-hover: var(--color-yellow-200);
  --color-background-danger-default: var(--color-red-500);
  --color-background-danger-hover: var(--color-red-600);
  --color-background-danger-secondary: var(--color-red-200);
  --color-background-danger-secondary-hover: var(--color-red-300);
  --color-background-danger-tertiary: var(--color-red-100);
  --color-background-danger-tertiary-hover: var(--color-red-200);
  --color-background-disabled-default: var(--color-gray-300);
  --color-background-utilities-scrim: #ffffffcc;
  --color-background-utilities-blanket: #000000b2;
  --color-background-utilities-overlay: #00000080;
  --color-background-utilities-measurement: var(--color-pink-200);
  --color-background-transparent-default: var(--color-black-700);
  --color-background-transparent-hover: var(--color-black-900);

  /* Text */
  --color-text-default-default: var(--color-gray-900);
  --color-text-default-secondary: var(--color-gray-500);
  --color-text-default-tertiary: var(--color-gray-400);
  --color-text-neutral-default: var(--color-slate-900);
  --color-text-neutral-secondary: var(--color-slate-700);
  --color-text-neutral-tertiary: var(--color-slate-600);
  --color-text-neutral-on-neutral: var(--color-slate-100);
  --color-text-neutral-on-neutral-secondary: var(--color-slate-900);
  --color-text-neutral-on-neutral-tertiary: var(--color-slate-800);
  --color-text-brand-default: var(--color-brand-900);
  --color-text-brand-secondary: var(--color-brand-700);
  --color-text-brand-tertiary: var(--color-brand-600);
  --color-text-brand-on-brand: var(--color-brand-100);
  --color-text-brand-on-brand-secondary: var(--color-brand-900);
  --color-text-brand-on-brand-tertiary: var(--color-brand-800);
  --color-text-positive-default: var(--color-green-800);
  --color-text-positive-secondary: var(--color-green-600);
  --color-text-positive-tertiary: var(--color-green-500);
  --color-text-positive-on-positive: var(--color-green-100);
  --color-text-positive-on-positive-secondary: var(--color-green-800);
  --color-text-positive-on-positive-tertiary: var(--color-green-800);
  --color-text-transparent-on-transparent: var(--color-white-1000);
  --color-text-warning-default: var(--color-yellow-900);
  --color-text-warning-secondary: var(--color-yellow-700);
  --color-text-warning-tertiary: var(--color-yellow-600);
  --color-text-warning-on-warning: var(--color-yellow-1000);
  --color-text-warning-on-warning-secondary: var(--color-yellow-800);
  --color-text-warning-on-warning-tertiary: var(--color-yellow-900);
  --color-text-danger-default: var(--color-red-700);
  --color-text-danger-secondary: var(--color-red-600);
  --color-text-danger-tertiary: var(--color-red-500);
  --color-text-danger-on-danger: var(--color-red-100);
  --color-text-danger-on-danger-secondary: var(--color-red-700);
  --color-text-danger-on-danger-tertiary: var(--color-red-700);
  --color-text-disabled-default: var(--color-gray-400);
  --color-text-disabled-on-disabled: var(--color-gray-400);
  --color-text-utilities-text-on-overlay: var(--color-black-1000);
  --color-text-utilities-text-on-measurement: var(--color-pink-800);

  /* Border */
  --color-border-default-default: var(--color-gray-300);
  --color-border-default-secondary: var(--color-gray-500);
  --color-border-default-tertiary: var(--color-gray-700);
  --color-border-neutral-default: var(--color-slate-900);
  --color-border-neutral-secondary: var(--color-slate-600);
  --color-border-neutral-tertiary: var(--color-slate-400);
  --color-border-brand-default: var(--color-brand-600);
  --color-border-brand-secondary: var(--color-brand-400);
  --color-border-brand-tertiary: var(--color-brand-300);
  --color-border-positive-default: var(--color-green-800);
  --color-border-positive-secondary: var(--color-green-600);
  --color-border-positive-tertiary: var(--color-green-500);
  --color-border-warning-default: var(--color-yellow-900);
  --color-border-warning-secondary: var(--color-yellow-700);
  --color-border-warning-tertiary: var(--color-yellow-600);
  --color-border-danger-default: var(--color-red-700);
  --color-border-danger-secondary: var(--color-red-600);
  --color-border-danger-tertiary: var(--color-red-500);
  --color-border-disabled-default: var(--color-gray-400);
  --color-border-transparent-default: var(--color-gray-500);
  --color-border-utilities-measurement: var(--color-pink-400);
  --color-border-utilities-swatch: #0000003d;

  /* Icon */
  --color-icon-default-default: var(--color-gray-900);
  --color-icon-default-secondary: var(--color-gray-500);
  --color-icon-default-tertiary: var(--color-gray-400);
  --color-icon-neutral-default: var(--color-slate-900);
  --color-icon-neutral-secondary: var(--color-slate-700);
  --color-icon-neutral-tertiary: var(--color-slate-600);
  --color-icon-neutral-on-neutral: var(--color-slate-100);
  --color-icon-neutral-on-neutral-secondary: var(--color-slate-900);
  --color-icon-neutral-on-neutral-tertiary: var(--color-slate-800);
  --color-icon-brand-default: var(--color-brand-900);
  --color-icon-brand-secondary: var(--color-brand-700);
  --color-icon-brand-tertiary: var(--color-brand-600);
  --color-icon-brand-on-brand: var(--color-brand-100);
  --color-icon-brand-on-brand-secondary: var(--color-brand-900);
  --color-icon-brand-on-brand-tertiary: var(--color-brand-800);
  --color-icon-positive-default: var(--color-green-800);
  --color-icon-positive-secondary: var(--color-green-600);
  --color-icon-positive-tertiary: var(--color-green-500);
  --color-icon-positive-on-positive: var(--color-green-100);
  --color-icon-positive-on-positive-secondary: var(--color-green-800);
  --color-icon-positive-on-positive-tertiary: var(--color-green-900);
  --color-icon-warning-default: var(--color-yellow-900);
  --color-icon-warning-secondary: var(--color-yellow-700);
  --color-icon-warning-tertiary: var(--color-yellow-600);
  --color-icon-warning-on-warning: var(--color-yellow-1000);
  --color-icon-warning-on-warning-secondary: var(--color-yellow-800);
  --color-icon-warning-on-warning-tertiary: var(--color-yellow-900);
  --color-icon-danger-default: var(--color-red-700);
  --color-icon-danger-secondary: var(--color-red-600);
  --color-icon-danger-tertiary: var(--color-red-500);
  --color-icon-danger-on-danger: var(--color-red-100);
  --color-icon-danger-on-danger-secondary: var(--color-red-700);
  --color-icon-danger-on-danger-tertiary: var(--color-red-700);
  --color-icon-disabled-default: var(--color-gray-400);
  --color-icon-disabled-on-disabled: var(--color-gray-400);
  --color-icon-transparent-on-transparent: var(--color-white-1000);
  --color-icon-utilities-icon: var(--color-pink-600);
  --color-icon-utilities-icon-on-measurement: var(--color-pink-800);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    /* Background */
    --color-background-default-default: var(--color-gray-900);
    --color-background-default-default-hover: var(--color-gray-700);
    --color-background-default-secondary: var(--color-gray-800);
    --color-background-default-secondary-hover: var(--color-gray-900);
    --color-background-default-tertiary: var(--color-gray-600);
    --color-background-default-tertiary-hover: var(--color-gray-700);
    --color-background-neutral-default: var(--color-slate-400);
    --color-background-neutral-hover: var(--color-slate-500);
    --color-background-neutral-secondary: var(--color-slate-900);
    --color-background-neutral-secondary-hover: var(--color-slate-1000);
    --color-background-neutral-tertiary: var(--color-slate-900);
    --color-background-neutral-tertiary-hover: var(--color-slate-1000);
    --color-background-brand-default: var(--color-brand-600);
    --color-background-brand-hover: var(--color-brand-700);
    --color-background-brand-secondary: var(--color-brand-400);
    --color-background-brand-secondary-hover: var(--color-brand-500);
    --color-background-brand-tertiary: var(--color-brand-200);
    --color-background-brand-tertiary-hover: var(--color-brand-300);
    --color-background-positive-default: var(--color-green-700);
    --color-background-positive-hover: var(--color-green-800);
    --color-background-positive-secondary: var(--color-green-800);
    --color-background-positive-secondary-hover: var(--color-green-900);
    --color-background-positive-tertiary: var(--color-green-900);
    --color-background-positive-tertiary-hover: var(--color-green-1000);
    --color-background-warning-default: var(--color-yellow-400);
    --color-background-warning-hover: var(--color-yellow-500);
    --color-background-warning-secondary: var(--color-yellow-800);
    --color-background-warning-secondary-hover: var(--color-yellow-900);
    --color-background-warning-tertiary: var(--color-yellow-900);
    --color-background-warning-tertiary-hover: var(--color-yellow-1000);
    --color-background-danger-default: var(--color-red-600);
    --color-background-danger-hover: var(--color-red-700);
    --color-background-danger-secondary: var(--color-red-800);
    --color-background-danger-secondary-hover: var(--color-red-900);
    --color-background-danger-tertiary: var(--color-red-900);
    --color-background-danger-tertiary-hover: var(--color-red-1000);
    --color-background-disabled-default: var(--color-gray-700);
    --color-background-utilities-scrim: #000000cc;
    --color-background-utilities-blanket: #000000b2;
    --color-background-utilities-overlay: #00000080;
    --color-background-utilities-measurement: var(--color-pink-800);
    --color-background-transparent-default: var(--color-black-700);
    --color-background-transparent-hover: var(--color-black-900);

    /* Text */
    --color-text-default-default: var(--color-white-1000);
    --color-text-default-secondary: var(--color-white-500);
    --color-text-default-tertiary: var(--color-white-400);
    --color-text-neutral-default: var(--color-slate-200);
    --color-text-neutral-secondary: var(--color-slate-300);
    --color-text-neutral-tertiary: var(--color-slate-400);
    --color-text-neutral-on-neutral: var(--color-slate-1000);
    --color-text-neutral-on-neutral-secondary: var(--color-slate-100);
    --color-text-neutral-on-neutral-tertiary: var(--color-slate-100);
    --color-text-brand-default: var(--color-brand-100);
    --color-text-brand-secondary: var(--color-brand-300);
    --color-text-brand-tertiary: var(--color-brand-400);
    --color-text-brand-on-brand: var(--color-brand-100);
    --color-text-brand-on-brand-secondary: var(--color-brand-900);
    --color-text-brand-on-brand-tertiary: var(--color-brand-800);
    --color-text-positive-default: var(--color-green-200);
    --color-text-positive-secondary: var(--color-green-400);
    --color-text-positive-tertiary: var(--color-green-600);
    --color-text-positive-on-positive: var(--color-green-100);
    --color-text-positive-on-positive-secondary: var(--color-green-100);
    --color-text-positive-on-positive-tertiary: var(--color-green-100);
    --color-text-transparent-on-transparent: var(--color-white-1000);
    --color-text-warning-default: var(--color-yellow-200);
    --color-text-warning-secondary: var(--color-yellow-400);
    --color-text-warning-tertiary: var(--color-yellow-600);
    --color-text-warning-on-warning: var(--color-yellow-1000);
    --color-text-warning-on-warning-secondary: var(--color-yellow-100);
    --color-text-warning-on-warning-tertiary: var(--color-yellow-100);
    --color-text-danger-default: var(--color-red-200);
    --color-text-danger-secondary: var(--color-red-400);
    --color-text-danger-tertiary: var(--color-red-500);
    --color-text-danger-on-danger: var(--color-red-100);
    --color-text-danger-on-danger-secondary: var(--color-red-100);
    --color-text-danger-on-danger-tertiary: var(--color-red-100);
    --color-text-disabled-default: var(--color-gray-500);
    --color-text-disabled-on-disabled: var(--color-gray-400);
    --color-text-utilities-text-on-overlay: var(--color-white-1000);
    --color-text-utilities-text-on-measurement: var(--color-pink-200);

    /* Border */
    --color-border-default-default: var(--color-gray-600);
    --color-border-default-secondary: var(--color-gray-500);
    --color-border-default-tertiary: var(--color-gray-400);
    --color-border-neutral-default: var(--color-slate-100);
    --color-border-neutral-secondary: var(--color-slate-500);
    --color-border-neutral-tertiary: var(--color-slate-600);
    --color-border-brand-default: var(--color-brand-600);
    --color-border-brand-secondary: var(--color-brand-400);
    --color-border-brand-tertiary: var(--color-brand-300);
    --color-border-positive-default: var(--color-green-200);
    --color-border-positive-secondary: var(--color-green-400);
    --color-border-positive-tertiary: var(--color-green-600);
    --color-border-warning-default: var(--color-yellow-200);
    --color-border-warning-secondary: var(--color-yellow-400);
    --color-border-warning-tertiary: var(--color-yellow-600);
    --color-border-danger-default: var(--color-red-200);
    --color-border-danger-secondary: var(--color-red-400);
    --color-border-danger-tertiary: var(--color-red-500);
    --color-border-disabled-default: var(--color-gray-600);
    --color-border-transparent-default: var(--color-gray-500);
    --color-border-utilities-measurement: var(--color-pink-600);
    --color-border-utilities-swatch: #ffffff3d;

    /* Icon */
    --color-icon-default-default: var(--color-white-1000);
    --color-icon-default-secondary: var(--color-white-500);
    --color-icon-default-tertiary: var(--color-white-400);
    --color-icon-neutral-default: var(--color-slate-200);
    --color-icon-neutral-secondary: var(--color-slate-300);
    --color-icon-neutral-tertiary: var(--color-slate-400);
    --color-icon-neutral-on-neutral: var(--color-slate-1000);
    --color-icon-neutral-on-neutral-secondary: var(--color-slate-100);
    --color-icon-neutral-on-neutral-tertiary: var(--color-slate-100);
    --color-icon-brand-default: var(--color-brand-100);
    --color-icon-brand-secondary: var(--color-brand-300);
    --color-icon-brand-tertiary: var(--color-brand-400);
    --color-icon-brand-on-brand: var(--color-brand-100);
    --color-icon-brand-on-brand-secondary: var(--color-brand-900);
    --color-icon-brand-on-brand-tertiary: var(--color-brand-800);
    --color-icon-positive-default: var(--color-green-200);
    --color-icon-positive-secondary: var(--color-green-400);
    --color-icon-positive-tertiary: var(--color-green-600);
    --color-icon-positive-on-positive: var(--color-green-100);
    --color-icon-positive-on-positive-secondary: var(--color-green-100);
    --color-icon-positive-on-positive-tertiary: var(--color-green-100);
    --color-icon-warning-default: var(--color-yellow-200);
    --color-icon-warning-secondary: var(--color-yellow-400);
    --color-icon-warning-tertiary: var(--color-yellow-600);
    --color-icon-warning-on-warning: var(--color-yellow-1000);
    --color-icon-warning-on-warning-secondary: var(--color-yellow-100);
    --color-icon-warning-on-warning-tertiary: var(--color-yellow-100);
    --color-icon-danger-default: var(--color-red-200);
    --color-icon-danger-secondary: var(--color-red-400);
    --color-icon-danger-tertiary: var(--color-red-500);
    --color-icon-danger-on-danger: var(--color-red-100);
    --color-icon-danger-on-danger-secondary: var(--color-red-100);
    --color-icon-danger-on-danger-tertiary: var(--color-red-100);
    --color-icon-disabled-default: var(--color-gray-500);
    --color-icon-disabled-on-disabled: var(--color-gray-400);
    --color-icon-transparent-on-transparent: var(--color-white-1000);
    --color-icon-utilities-icon: var(--color-pink-400);
    --color-icon-utilities-icon-on-measurement: var(--color-pink-200);
  }
}

[data-theme="dark"] {
  color-scheme: dark;

  /* Background */
  --color-background-default-default: var(--color-gray-900);
  --color-background-default-default-hover: var(--color-gray-700);
  --color-background-default-secondary: var(--color-gray-800);
  --color-background-default-secondary-hover: var(--color-gray-900);
  --color-background-default-tertiary: var(--color-gray-600);
  --color-background-default-tertiary-hover: var(--color-gray-700);
  --color-background-neutral-default: var(--color-slate-400);
  --color-background-neutral-hover: var(--color-slate-500);
  --color-background-neutral-secondary: var(--color-slate-900);
  --color-background-neutral-secondary-hover: var(--color-slate-1000);
  --color-background-neutral-tertiary: var(--color-slate-900);
  --color-background-neutral-tertiary-hover: var(--color-slate-1000);
  --color-background-brand-default: var(--color-brand-600);
  --color-background-brand-hover: var(--color-brand-700);
  --color-background-brand-secondary: var(--color-brand-400);
  --color-background-brand-secondary-hover: var(--color-brand-500);
  --color-background-brand-tertiary: var(--color-brand-200);
  --color-background-brand-tertiary-hover: var(--color-brand-300);
  --color-background-positive-default: var(--color-green-700);
  --color-background-positive-hover: var(--color-green-800);
  --color-background-positive-secondary: var(--color-green-800);
  --color-background-positive-secondary-hover: var(--color-green-900);
  --color-background-positive-tertiary: var(--color-green-900);
  --color-background-positive-tertiary-hover: var(--color-green-1000);
  --color-background-warning-default: var(--color-yellow-400);
  --color-background-warning-hover: var(--color-yellow-500);
  --color-background-warning-secondary: var(--color-yellow-800);
  --color-background-warning-secondary-hover: var(--color-yellow-900);
  --color-background-warning-tertiary: var(--color-yellow-900);
  --color-background-warning-tertiary-hover: var(--color-yellow-1000);
  --color-background-danger-default: var(--color-red-600);
  --color-background-danger-hover: var(--color-red-700);
  --color-background-danger-secondary: var(--color-red-800);
  --color-background-danger-secondary-hover: var(--color-red-900);
  --color-background-danger-tertiary: var(--color-red-900);
  --color-background-danger-tertiary-hover: var(--color-red-1000);
  --color-background-disabled-default: var(--color-gray-700);
  --color-background-utilities-scrim: #000000cc;
  --color-background-utilities-blanket: #000000b2;
  --color-background-utilities-overlay: #00000080;
  --color-background-utilities-measurement: var(--color-pink-800);
  --color-background-transparent-default: var(--color-black-700);
  --color-background-transparent-hover: var(--color-black-900);

  /* Text */
  --color-text-default-default: var(--color-white-1000);
  --color-text-default-secondary: var(--color-white-500);
  --color-text-default-tertiary: var(--color-white-400);
  --color-text-neutral-default: var(--color-slate-200);
  --color-text-neutral-secondary: var(--color-slate-300);
  --color-text-neutral-tertiary: var(--color-slate-400);
  --color-text-neutral-on-neutral: var(--color-slate-1000);
  --color-text-neutral-on-neutral-secondary: var(--color-slate-100);
  --color-text-neutral-on-neutral-tertiary: var(--color-slate-100);
  --color-text-brand-default: var(--color-brand-100);
  --color-text-brand-secondary: var(--color-brand-300);
  --color-text-brand-tertiary: var(--color-brand-400);
  --color-text-brand-on-brand: var(--color-brand-100);
  --color-text-brand-on-brand-secondary: var(--color-brand-900);
  --color-text-brand-on-brand-tertiary: var(--color-brand-800);
  --color-text-positive-default: var(--color-green-200);
  --color-text-positive-secondary: var(--color-green-400);
  --color-text-positive-tertiary: var(--color-green-600);
  --color-text-positive-on-positive: var(--color-green-100);
  --color-text-positive-on-positive-secondary: var(--color-green-100);
  --color-text-positive-on-positive-tertiary: var(--color-green-100);
  --color-text-transparent-on-transparent: var(--color-white-1000);
  --color-text-warning-default: var(--color-yellow-200);
  --color-text-warning-secondary: var(--color-yellow-400);
  --color-text-warning-tertiary: var(--color-yellow-600);
  --color-text-warning-on-warning: var(--color-yellow-1000);
  --color-text-warning-on-warning-secondary: var(--color-yellow-100);
  --color-text-warning-on-warning-tertiary: var(--color-yellow-100);
  --color-text-danger-default: var(--color-red-200);
  --color-text-danger-secondary: var(--color-red-400);
  --color-text-danger-tertiary: var(--color-red-500);
  --color-text-danger-on-danger: var(--color-red-100);
  --color-text-danger-on-danger-secondary: var(--color-red-100);
  --color-text-danger-on-danger-tertiary: var(--color-red-100);
  --color-text-disabled-default: var(--color-gray-500);
  --color-text-disabled-on-disabled: var(--color-gray-400);
  --color-text-utilities-text-on-overlay: var(--color-white-1000);
  --color-text-utilities-text-on-measurement: var(--color-pink-200);

  /* Border */
  --color-border-default-default: var(--color-gray-600);
  --color-border-default-secondary: var(--color-gray-500);
  --color-border-default-tertiary: var(--color-gray-400);
  --color-border-neutral-default: var(--color-slate-100);
  --color-border-neutral-secondary: var(--color-slate-500);
  --color-border-neutral-tertiary: var(--color-slate-600);
  --color-border-brand-default: var(--color-brand-600);
  --color-border-brand-secondary: var(--color-brand-400);
  --color-border-brand-tertiary: var(--color-brand-300);
  --color-border-positive-default: var(--color-green-200);
  --color-border-positive-secondary: var(--color-green-400);
  --color-border-positive-tertiary: var(--color-green-600);
  --color-border-warning-default: var(--color-yellow-200);
  --color-border-warning-secondary: var(--color-yellow-400);
  --color-border-warning-tertiary: var(--color-yellow-600);
  --color-border-danger-default: var(--color-red-200);
  --color-border-danger-secondary: var(--color-red-400);
  --color-border-danger-tertiary: var(--color-red-500);
  --color-border-disabled-default: var(--color-gray-600);
  --color-border-transparent-default: var(--color-gray-500);
  --color-border-utilities-measurement: var(--color-pink-600);
  --color-border-utilities-swatch: #ffffff3d;

  /* Icon */
  --color-icon-default-default: var(--color-white-1000);
  --color-icon-default-secondary: var(--color-white-500);
  --color-icon-default-tertiary: var(--color-white-400);
  --color-icon-neutral-default: var(--color-slate-200);
  --color-icon-neutral-secondary: var(--color-slate-300);
  --color-icon-neutral-tertiary: var(--color-slate-400);
  --color-icon-neutral-on-neutral: var(--color-slate-1000);
  --color-icon-neutral-on-neutral-secondary: var(--color-slate-100);
  --color-icon-neutral-on-neutral-tertiary: var(--color-slate-100);
  --color-icon-brand-default: var(--color-brand-100);
  --color-icon-brand-secondary: var(--color-brand-300);
  --color-icon-brand-tertiary: var(--color-brand-400);
  --color-icon-brand-on-brand: var(--color-brand-100);
  --color-icon-brand-on-brand-secondary: var(--color-brand-900);
  --color-icon-brand-on-brand-tertiary: var(--color-brand-800);
  --color-icon-positive-default: var(--color-green-200);
  --color-icon-positive-secondary: var(--color-green-400);
  --color-icon-positive-tertiary: var(--color-green-600);
  --color-icon-positive-on-positive: var(--color-green-100);
  --color-icon-positive-on-positive-secondary: var(--color-green-100);
  --color-icon-positive-on-positive-tertiary: var(--color-green-100);
  --color-icon-warning-default: var(--color-yellow-200);
  --color-icon-warning-secondary: var(--color-yellow-400);
  --color-icon-warning-tertiary: var(--color-yellow-600);
  --color-icon-warning-on-warning: var(--color-yellow-1000);
  --color-icon-warning-on-warning-secondary: var(--color-yellow-100);
  --color-icon-warning-on-warning-tertiary: var(--color-yellow-100);
  --color-icon-danger-default: var(--color-red-200);
  --color-icon-danger-secondary: var(--color-red-400);
  --color-icon-danger-tertiary: var(--color-red-500);
  --color-icon-danger-on-danger: var(--color-red-100);
  --color-icon-danger-on-danger-secondary: var(--color-red-100);
  --color-icon-danger-on-danger-tertiary: var(--color-red-100);
  --color-icon-disabled-default: var(--color-gray-500);
  --color-icon-disabled-on-disabled: var(--color-gray-400);
  --color-icon-transparent-on-transparent: var(--color-white-1000);
  --color-icon-utilities-icon: var(--color-pink-400);
  --color-icon-utilities-icon-on-measurement: var(--color-pink-200);
}
