.category {
  font-size: var(--typography-scale-02);
  color: var(--color-text-default-secondary);
  margin: 0 0 var(--size-space-100);
}

.title {
  color: #ad2f33;
  margin: 0 0 var(--size-space-200);
}

.meta {
  font-size: var(--typography-body-size-small);
  margin: 0;
}

.container {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
}
