.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.outerCard:not(.outerCardActive) {
  cursor: pointer;
}

.outerCardActive {
  cursor: default;
}

.innerQualityOptionWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.innerQualityOptionContent {
  color: var(--color-text-default-secondary);
}

.outerCard:not(.outerCardActive):hover {
  background-color: var(--color-background-brand-tertiary-hover);
}

.fullQualityLoginPromptWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.fullQualityLoginPromptWrapper a {
  text-decoration: underline;
}

.fullQualityLoginPromptLoginSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.fullQualityLoginPromptGuestUserText {
  color: var(--color-text-default-default);
  text-align: center;
  height: 100%;
}
