.pop_up_box{
    background-color: white;
    z-index: 2;
    padding: 0.5rem;
    width: 40%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.picture_preview{
    display : flex;
    align-content: center;
    justify-content: center;
    padding: 10px;
}

.nav_buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.button_styling{
    width : 50%;
    height: auto;

}

.back_button_styling{
    width : 50%;
    background-color: #b52026 !important; /* Marked with important command to overwrite some global styling*/
    color: white !important;
    height: auto;

}

.back_button_styling:hover{
    opacity: 80%; /*#c2484d*/
}

.apply_button_styling{
    width : 50%;
    background-color: #bd565a !important; /* Marked with important command to overwrite some global styling*/
    color: white !important;
    height: auto;

}
