.pop_up_box {
  background-color: white;
  z-index: 2;
  padding: 0.5rem;
  width: 40%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  top: 17%;
  align-items: center;
}

.picture_preview {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 10px;
  width: 100%; /* takes full width of popup */
  height: 400px;
}

.nav_buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: left;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.button_styling {
  width: 50%;
  height: auto;
}

.back_button_styling {
  width: 50%;
  background-color: #b52026 !important; /* Marked with important command to overwrite some global styling*/
  color: white !important;
  height: auto;
}

.back_button_styling:hover {
  opacity: 80%; /*#c2484d*/
}

.apply_button_styling {
  width: 50%;
  background-color: #bd565a !important; /* Marked with important command to overwrite some global styling*/
  color: white !important;
  height: auto;
}

.dropzone {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #bcbcbc;
  border-style: dashed;
  color: #3c3c3c;
  outline: none;
  transition: border 0.24s ease-in-out;
  cursor: pointer;
  height: 400px;
  width: 100% !important;
}
