.dialogOverlay {
  background-color: var(--color-background-photo-modal);
  position: fixed;
  inset: 0;
  z-index: 100;
}

.dialogContent {
  color: var(--color-text-photo-modal);
  position: fixed;
  inset: 0;
  display: flex;
  outline: none;
  z-index: 100;
}

.fadeInAnimation {
  animation: fadeIn 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
