.photoViewSidebarBackground {
  flex: 0 0 20%;
  background-color: var(--color-background-transparent-default);
  border-right: var(--size-stroke-border) solid
    var(--color-border-transparent-default-photo-modal);
}

.photoViewSidebarList {
  height: 100%;
  position: relative;
  overflow-y: auto;
  /* we compensate scroll position manually when pages are prepended */
  overflow-anchor: none;
  user-select: none;
  scrollbar-width: none;
}

.photoViewSidebarList::-webkit-scrollbar {
  display: none;
}

.sidebarItem {
  padding-left: var(--size-space-400);
  padding-right: var(--size-space-400);
  padding-bottom: var(--size-space-400);
}

.sidebarSpacer {
  height: var(--size-space-400);
}

.sidebarPhoto {
  display: block;
  width: 100%;
  margin-inline: auto;
  object-fit: cover;
  cursor: pointer;
  transition:
    width 0.3s cubic-bezier(0.16, 1, 0.3, 1),
    margin 0.3s cubic-bezier(0.16, 1, 0.3, 1),
    aspect-ratio 0.3s cubic-bezier(0.16, 1, 0.3, 1),
    opacity 0.3s cubic-bezier(0.16, 1, 0.3, 1);
  opacity: 0.85;
  border-radius: var(--size-radius-400);
  aspect-ratio: 12 / 7;
}

.sidebarSkeleton {
  width: 100%;
  aspect-ratio: 12 / 7;
  border-radius: var(--size-radius-400);
  background-color: var(--color-background-skeleton-photo-modal);
}

.selectedSidebarPhoto {
  width: 100%;
  margin-top: var(--size-space-400);
  margin-bottom: var(--size-space-400);
  aspect-ratio: 1 / 1;
  opacity: 1;
}
