
.h1 {
    color: rgb(2, 2, 2);
    left: 1000px;
    font-family: fantasy;

}

.h2 {
    color: rgb(2, 2, 2);
    left: 800px;


}

#contain {
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
    flex-direction: column;


}

#div2 {

    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    top: 100px;
}


#button-box {
    width: 300px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    top: 100px;
}

#play-button {
    width: 200px;
    top: 30px;
}

#add-button {
    width: 100px;
    top: 30px;
    margin-bottom: 30px;
}

.wheelCenter {
  position: relative;
  width: 400px;     /* match canvas-bredden */
  height: 400px;    /* match canvas-høyden (valgfrie, men ryddig) */
  margin: 0 auto;   /* sentrér */
}

/* Kamera plassert til høyre for hjulet */
#camera {
  position: absolute;
  top: 50%;
  left: calc(100% + 16px);   /* 16px til høyre for hjulet */
  transform: translateY(-50%);
  width: 150px;
  height: 100px;
  object-fit: contain;
}

#fullsizeDiv {


  height: 80vh;
  margin-top: 50px;


}