.gameWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 72vh;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin: 20px 0;
}

.addPlayerContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    justify-content: center;
}

.addPlayerButton {
    width: 10rem;
}

.playersList {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    max-width: 400px;
}

.impostorText {
    color: red;
    font-weight: bold;
}

.wordContainerWrapper {
    perspective: 800px;
    width: 20rem;
    height: 10rem;
    cursor: pointer;
    user-select: none;
}

.wordContainer {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.2s ease-in-out;
}

.wordContainer.revealed {
    transform: rotateY(180deg);
    transform: rotateX(180deg);
}

.clickToReveal,
.wordBack {
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow:  0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1)
}

.wordBack {
    transform: rotateY(180deg);
    transform: rotateX(180deg);
}

.innerWordContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.innerGameWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.finishGameButton {
    margin-top: 2rem;
    width: 20rem;
    height: 4rem;
}

.playerGuessItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
}

.playerGuessItem:hover {
    background-color: #e0e0e0;
}