

.mainContainerStyle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: beige; */
    z-index: 9999;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    padding: 1rem;

}

.exitContainerStyle{
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

.headerContainerStyle{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 1rem;
}

.textContainerStyle{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 2rem;
}


.buttonContainerStyle{
    display: flex;
    flex-direction: row;
    padding: 1rem;
}

