@import "../../../styles/variables.css";

.mainContainerStyle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: beige; */
    z-index: 9999;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    padding: 1rem;

}

.exitContainerStyle{

    display: flex;
    flex-direction: row;
    padding: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    justify-content: center;
    align-items: center;
}

.headerContainerStyle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.extiButton:hover {
    color: var(--hilfling-link-color);

}


.textContainerStyle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: center;
}

.textDisclaimerStyle{
    font-size: small;

}


.buttonContainerStyle{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.OKbuttonStyle{

    width: 100%;
}


