.textContainerStyle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.textDisclaimerStyle {
  font-size: small;
}

.OKbuttonStyle {
  width: 100%;
}
