.nav {
  margin-bottom: 1rem;
}

.navHead {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navHeadActions {
  display: flex;
  align-items: center;
  gap: var(--size-space-100);
}

.hamburger {
  cursor: pointer;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  padding: var(--size-space-100);
}

.hamburger:hover {
  transform: scale(1.1);
}

.navMenuList {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.navMenuListOpen {
  max-height: 100vh;
  transition: max-height 0.3s ease-in;
}

.navMenuListClosed {
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.menuLink {
  padding: 0.2rem 0.5rem;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 3px 0px;
  font-size: var(--typography-body-size-medium);
}

.menuLink:hover {
  scale: 1.01;
}

.navContainer {
  font-size: 1.5rem;
  display: none;
  grid-template-columns: 8fr 2fr;
}

.loggContainer {
  display: flex;
  align-items: center;
  justify-content: right;
}

.loggContainer > * {
  cursor: pointer;
}

.loggContainer > *:hover {
  transform: scale(1.05);
}

.navList {
  width: 60vw;
  display: flex;
  justify-content: left;
  align-items: center;
}

.navList > * {
  margin-right: 3vw;
}

.navList > *:hover {
  transform: scale(1.05);
}

.navLink {
  font-size: var(--typography-body-size-medium);
}

@media screen and (min-width: 50rem) {
  .navContainer {
    display: grid;
  }
  .hamburger {
    display: none;
  }
  .mobileThemeToggle {
    display: none;
  }
}
