.nav {
  border-bottom: 1px solid var(--color-border-default-default);
  padding: 0 var(--typography-scale-04);
}

.navHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 0;
}

.navHeadActions {
  display: flex;
  align-items: center;
  gap: var(--size-space-100);
}

.navHeadActions {
  display: flex;
  align-items: center;
  gap: var(--size-space-100);
}

.hamburger {
  cursor: pointer;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  padding: var(--size-space-100);
}

.hamburger:hover {
  transform: scale(1.1);
}

.navMenuList {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

.navMenuListOpen {
  max-height: 100vh;
  transition: max-height 0.3s ease-in;
}

.navMenuListClosed {
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.menuLink {
  padding: 0.2rem 0.5rem;
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 3px 0px;
  font-size: var(--typography-body-size-large);
}

.menuLink:hover {
  scale: 1.01;
}

.navContainer {
  display: none;
}

.loggContainer {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-left: auto;
  gap: var(--size-space-100);
}

.loggContainer > * {
  cursor: pointer;
}

.loggContainer > *:hover {
  transform: scale(1.05);
}

.navList {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  gap: 1.5rem;
}

.navList > *:hover {
  transform: scale(1.05);
}

.navLink {
  font-size: var(--typography-body-size-large);
}

@media screen and (min-width: 50rem) {
  .nav {
    display: flex;
    align-items: center;
    padding: 0.75rem 1.5rem;
  }

  .navHead {
    height: auto;
  }

  .navMenuList {
    display: none;
  }

  .navContainer {
    display: flex;
    flex: 1;
    align-items: center;
  }

  .hamburger {
    display: none;
  }
  .mobileThemeToggle {
    display: none;
  }
}
