.loggContainer {
  display: flex;
  align-items: center;
  justify-content: right;
  margin-left: auto;
  gap: var(--size-space-100);
}

.loggContainer > * {
  cursor: pointer;
}

.loggContainer > *:hover {
  transform: scale(1.05);
}

.navLink {
  font-size: var(--typography-body-size-large);
}

.nav {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-border-default-default);
  padding: var(--size-space-200) var(--size-space-400);
  background-color: var(--color-background-default-default);
}

.navHead {
  height: auto;
}

.navMenuList {
  display: none;
}

.navContainer {
  position: relative;
  display: flex;
  flex: 1;
  align-items: center;
  padding: 0 var(--size-space-200) 0 var(--size-space-400);
}

.internNavLink {
  display: flex;
  align-items: center;
  gap: var(--size-space-100);
  padding: 0.2rem 0.5rem;
}

.separator {
  width: 90%;
  margin: 0.5rem auto;
  height: 1px;
  background-color: var(--color-border-default-default);
}
