.photoUpload {
  background-color: var(--color-background-default-default);
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.sideBar {
  flex: 0 0 25%;
  display: grid;
  grid-template-rows: 4fr 1fr;
  transition: grid-template-rows 0.5s cubic-bezier(0.16, 1, 0.3, 1);
  border-right: var(--size-stroke-border) solid
    var(--color-border-default-default);
  overflow: hidden;
}

.sideBar > * {
  min-height: 0;
}

.sideBarMotiveSelected {
  grid-template-rows: 4fr 10fr;
}

.mainContent {
  flex: 1;
  overflow: hidden;
  background-color: var(--color-background-default-secondary);
}
