.wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--size-space-200);
}

.label {
  font-size: var(--typography-body-size-medium);
  font-weight: var(--typography-body-font-weight-regular);
}

.inputRow {
  position: relative;
}

.inputWithSuffix {
  padding-right: 2.5rem;
  width: 100%;
  box-sizing: border-box;
}

.suffix {
  position: absolute;
  right: var(--size-space-300);
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}

.input {
  padding: var(--size-space-400) var(--size-space-300);
  font-size: var(--typography-body-size-medium);
  font-weight: var(--typography-body-font-weight-regular);
  background-color: var(--color-background-default-default);
  border-radius: var(--size-radius-200);
  border-color: var(--color-border-default-default);
  border-style: solid;
}

.input:disabled {
  background-color: var(--color-background-disabled-default);
  color: var(--color-text-disabled-on-disabled);
  border-color: var(--color-border-disabled-default);
  cursor: not-allowed;
}

/* Disabled label */
.wrapper:has(.input:disabled).label {
  color: var(--color-text-disabled-default);
}

.input.inputError {
  border-color: var(--color-border-danger-default);
}
