.redBackground {
  background: #605c5c !important;
  color: #f4f4f4 !important;
}

.blueBackground {
  background: #8f4650 !important;
  color: #f4f4f4 !important;
}

.greenBackground {
  background: #be3144 !important;
  color: #f4f4f4 !important;
}

.widthFotogjengenBanner {
  padding: 20px;
}

/* .redBackground {
  background: #da7777 !important;
}

.blueBackground {
  background: #7793da !important;
}

.greenBackground {
  background: #BADA77 !important;
} */

.round {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6em;
  width: 6em;
  box-shadow: 10em 10em 10em solid grey;
}

h6 {
  border-radius: 0.5em;
  width: fit-content;
  padding-bottom: 0.2em;
}

.cardFoto {
  width: fit-content;
  padding: 0.1em 0.4em;
}

a {
  font-size: inherit;
}

.gangBangers {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
