.viewport {
  --photo-track-gap: 20px;
  height: 18rem;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  align-self: stretch;
  overflow-x: hidden;
}

.track {
  display: flex;
  justify-content: start;
  align-items: end;
  gap: var(--photo-track-gap);
  animation: photoTrackScroll var(--photo-track-animation-duration) linear
    infinite;
}

.photoTile {
  height: calc(100% * var(--photo-tile-scale, 1));
  flex: 0;
  background-color: var(--color-brand-400);
}

.landscape {
  aspect-ratio: 3 / 2;
}

.portrait {
  aspect-ratio: 2 / 3;
}

@keyframes photoTrackScroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-50% - var(--photo-track-gap) / 2));
  }
}
