.trigger {
  height: 2rem;
  padding-top: var(--size-space-100);
  padding-bottom: var(--size-space-100);
}

@media (max-width: 500px) {
  .toggle {
    display: flex;
    justify-content: center;
  }
}
