.twoCol {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 0.5rem;
}

@media (max-width: 768px) {
  .twoCol {
    grid-template-columns: 1fr;
  }
}

.circleRow {
  display: flex;
  justify-content: space-evenly;
  padding: 5vw 0;
}

.listGrid {
  display: flex;
  gap: 2rem;
}

.noStyleList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.redBackground {
  background: #605c5c !important;
  color: #f4f4f4 !important;
}

.blueBackground {
  background: #8f4650 !important;
  color: #f4f4f4 !important;
}

.greenBackground {
  background: #be3144 !important;
  color: #f4f4f4 !important;
}

.widthFotogjengenBanner {
  padding: 20px;
}

.round {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6em;
  width: 6em;
  box-shadow: 10em 10em 10em solid grey;
}

h6 {
  border-radius: 0.5em;
  width: fit-content;
  padding-bottom: 0.2em;
}

.cardFoto {
  width: fit-content;
  padding: 0.1em 0.4em;
}

.widthFotogjengenBanner a {
  font-size: inherit;
}

.gangBangers {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
