.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.name {
  display: inline;
  vertical-align: middle;
  padding-left: 1rem;
  margin: auto 0;
  font-family: Satoshi, Roboto, Futura, "Trebuchet MS", Arial, sans-serif;
  font-weight: 500;
}
